{% extends "base.html" %}
{% load static %}
{% block title %}账本管理系统{% endblock %}
{% block test-btn %}
    <a href="{% url 'ledgertest' %}" class="btn" rel="noreferrer">
      <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
      测试1
    </a>
    <a href="./" class="btn" rel="noreferrer">
      <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
      测试2
    </a>
{% endblock %}
{% block sub_system_name %}
    <a href="{% url 'ledgerindex' %}" class="no-underline">
        <p class="m-0 p-0">>账本管理系统</p>
    </a> 
{% endblock %}
{% block style %}

{% endblock %}
{% block cssfile %}
	<link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bootstrap-5.3.2/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block navbar %}
    <div class="page-body d-flex flex-column flex-shrink-0 p-3 ms-auto bg-light rounded-3 opacity-90 scrollable" style="width: 280px;height: 800px;">
{#    <div class="col-lg-12">.</div>#}
        <a href="{% url 'ledgerindex' %}" class="align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4">账本列表</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            {% if active_page == 0 %}
                <li class="nav-item">
                  <a href="{% url 'ledgerindex' %}" class="nav-link active">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    账本列表
                  </a>
                </li>
            {% else %}
               <li class="nav-item">
                  <a href="{% url 'ledgerindex' %}" class="nav-link">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    账本列表
                  </a>
                </li> 
            {% endif %} 
            
            {% for lg in ledger_info %}
                {% if active_page == lg.id %}
                  <li><a href="{% url 'ledger' lid=lg.id %}" class="nav-link link-dark active">
                      <svg class="bi pe-none me-2" width="16" height="16"></svg>
                      {{ lg.name }}
                  </a></li>
                {% else %}
                    <li><a href="{% url 'ledger' lid=lg.id %}" class="nav-link link-dark">
                      <svg class="bi pe-none me-2" width="16" height="16"></svg>
                      {{ lg.name }}
                    </a></li>
                {% endif %}
                
            {% endfor %}
        </ul>
        <hr>
    </div>
{% endblock %}
{% block page-wrapper %}
<div class="page-body container-xl opacity-90 ms-0">
    <div class="row row-cards">
      <div class="col-lg-12"></div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">欢迎使用，账本管理系统</h3>
          </div>
          <div class="card-body border-bottom py-3">
            <div class="d-flex">
              {% block search_page %}
              <div class="me-2">
                <form class="row g-3" method="post" action='{% block search %}{% url 'search_ledger' %}{% endblock %}'>
                    {% csrf_token %}
                    <div class="col-auto">
                        <label for="inputPassword2" class="visually-hidden"></label>
                        <input type="text" name="searchname" class="form-control" placeholder="按名称搜索">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">搜索</button>
                    </div>
                </form>
              </div>
              {% endblock %}
              <div class="ms-auto">
                    <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#modal-add">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                        新增
                    </button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            {% block table-content %}
                <table class="table card-table table-vcenter text-nowrap datatable">
                  <thead>
                    <tr>
                      <th class="w-1">ID</th>
                      <th>账本名称</th>
                      <th>备注</th>
                      <th>创建时间</th>
                      <th>更新时间</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for p in page_obj.object_list %}
                        <tr>
                          <td><span class="text-secondary">{{ p.id }}</span></td>
                          <td><a href="{% url 'ledger' lid=p.id %}" class="text-reset" tabindex="-1">{{ p.name }}</a></td>
                          <td>{{ p.notes }}</td>
                          <td>{{ p.created_at }}</td>
                          <td>{{ p.updated_at }}</td>
                          <td class="text-end">
                            <span>
                              <a type="button" class="btn align-text-top btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ p.id }}">编辑</a>
                              <a type="button" class="btn align-text-top btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ p.id }}">删除</a>
                            </span>
                          </td>
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
            {% endblock %}
          </div>
          <div class="card-footer d-flex align-items-center">
            <ul class="pagination m-0 ms-auto">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1">首页</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">
                      上一页</a>
                  </li>
                {% endif %}
                {% for pn in page_obj.paginator.page_range %}
                    {% if pn == page_obj.number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ pn }}">{{ pn }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pn }}">{{ pn }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">下一页</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">尾页</a>
                    </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block other %}
     {#    添加记录模态框#}
    <div class="modal modal-blur fade" id="modal-add" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">添加记录</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          {% block add-form %}  
              <form method="post" action="{% url 'add_ledger' %}">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label class="form-label">账本名称</label>
                        <input type="text" class="form-control" name="ledgername">
                      </div>
                    </div>
                      <div class="col-lg-12">
                        <div>
                          <label class="form-label">备注</label>
                          <textarea class="form-control" rows="3" name="notes"></textarea>
                        </div>
                      </div>
                  </div>
                </div>
                  <div class="modal-footer">
                    <a href="#" class="btn btn-outline-secondary link-secondary" data-bs-dismiss="modal">
                      取消
                    </a>
                    <button type="submit" class="btn btn-primary ms-auto">
                      <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M12 5l0 14" />
                          <path d="M5 12l14 0" />
                      </svg>
                      添加
                    </button>
                  </div>
              </form>
          {% endblock %}    
        </div>
      </div>
    </div>
    {#    添加记录模态框 结束#}
    {#             消息弹出框#}
        
            {# 消息弹出框 结束 #}
    {% for p in page_obj.object_list %}
        {#    编辑记录模态框#}
        <div class="modal modal-blur fade" id="editModal{{ p.id }}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">修改记录</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              {% block edit-form %}  
                  <form method="post" action="{% url 'edit_ledger' pid=p.id %}">
                    {% csrf_token %}
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="mb-3">
                            <label class="form-label">账本名称</label>
                            <input type="text" class="form-control" name="ledgername" value="{{ p.name }}">
                          </div>
                        </div>
                          <div class="col-lg-12">
                            <div>
                              <label class="form-label">备注</label>
                              <textarea class="form-control" rows="3" name="notes">{{ p.notes }}</textarea>
                            </div>
                          </div>
                        </div>
                    </div>
                      <div class="modal-footer">
                        <a href="#" class="btn btn-outline-secondary link-secondary" data-bs-dismiss="modal">
                          取消
                        </a>
                        <button type="submit" class="btn btn-primary ms-auto">提交</button>
                      </div>
                  </form>
              {% endblock %}  
            </div>
          </div>
        </div>
        {#    编辑记录模态框 结束#}
    {#    确认删除 模态框 开始#}
        <div class="modal fade" id="deleteModal{{ p.id }}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-status bg-danger"></div>
              <div class="modal-body text-center py-4">
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" /><path d="M12 9v4" /><path d="M12 17h.01" /></svg>
                <h5 class="">确定要删除记录【{{ p.id }}】吗？</h5>
                {% block delete_warning %}{% endblock %}  
              </div>
              <div class="modal-footer">
                <div class="w-100">
                  <div class="row">
                    <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                        取消
                      </a></div>
                    <div class="col">
                        {% block del_href %}
                            <a href="{% url 'delete_ledger' pid=p.id %}" class="btn btn-danger w-100">确定</a>
                        {% endblock %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {# 确认删除 模态框 结束#}
    {% endfor %}
{% endblock %}
{% block jsfile %}
    <script src="{% static 'plugins/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
{% endblock %}